body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#camera-publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 20px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.big-subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.small-screen {
    position: absolute;
    width: 360px;
    height: 240px;
    top: 20px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.small-camera {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.toggle-button-on {
    background-color: green;
}

.toggle-button-off {
    background-color: red;
}
.toggle-button {
    position: absolute;
    z-index: 1000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#screen-sharing {
    bottom: 20px;
    left: 400px;
}
