body, html {
    background-color: rgb(0, 63, 95);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

div {
    float: left;
    width: 50%;
    height: 50%;
    position: fixed;
    border: 1px solid rgb(0, 63, 95);
}

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#camera-publisher {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
}

#screen-subscriber {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 50%;
}

#screen-publisher {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

#camera-subscriber {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
}

#screen-sharing {
    display: none;
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 1000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
}

.TokBox-label {
    background-color: rgb(0, 153, 204);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
#my-label {
    position: absolute;
    font-size: large;
    bottom: 49%;
    left: 0px;
    border-radius: 5%;
    z-index: 1000;
}

#others-label {
    position: absolute;
    font-size: large;
    bottom: 49%;
    right: 0px;
    border-radius: 5%;
    z-index: 1000;
    
}
