body, html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: gray;
    height: 100%;
    margin: 0px;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#publisher-container {
    position: absolute;
    /*width: 360px;*/
    /*height: 240px;*/
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

div.wrapper label {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
div.wrapper {
    width: 320px;
    float: left;
    margin: 20px;
}
